<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - NCDOXS Provider Portal</title>
    <!-- loader-->
    <!--favicon-->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Lucide Icons CDN -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <!-- simplebar CSS-->
    <link href="~/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/css/app-style.css" rel="stylesheet" />
    <link href="~/css/adon.css" rel="stylesheet" />
    <link href="~/css/toast-notifications.css" rel="stylesheet" />
    <link href="~/css/modern-cards.css" rel="stylesheet" />
    <link href="~/css/icd-mapping.css" rel="stylesheet" />
    <style>
        /* Apply Inter font globally */
        * {
            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
        }

        /* Fix for icon fonts - exclude from Inter font override */
        [class^="zmdi-"], [class*=" zmdi-"],
        [class^="icon-"], [class*=" icon-"],
        [class^="fa-"], [class*=" fa-"] {
            font-family: 'Material-Design-Iconic-Font', 'FontAwesome', 'Linearicons-Free' !important;
        }
    </style>
</head>
<body class="bg-theme bg-theme1">
    <div id="wrapper">
        @await Html.PartialAsync("_sidebar.cshtml")
        @await Html.PartialAsync("_topbar.cshtml")
        <div class="clearfix"></div>
        <div class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <div class="overlay toggle-menu"></div>
            </div>
        </div>
        @await Html.PartialAsync("_footer.cshtml")
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- simplebar js -->
    <script src="~/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="~/js/app-script.js"></script>
    <script src="~/js/toast-notifications.js"></script>
    <!-- Initialize Lucide Icons -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (typeof lucide !== 'undefined') {
                lucide.createIcons();
            }
        });
    </script>
    @await Html.PartialAsync("_ModalPartial")
</body>
</html>