@using NphiesBridge.Web.Services.API
@inject AuthService AuthService

@{
    var currentUser = AuthService.GetCurrentUser();
    var userDisplayName = currentUser?.FullName ?? "Provider User";
    var userEmail = currentUser?.Email ?? "provider@hospital.com";
    var userInitials = !string.IsNullOrEmpty(currentUser?.FirstName) && !string.IsNullOrEmpty(currentUser?.LastName)
        ? $"{currentUser.FirstName[0]}{currentUser.LastName[0]}"
        : "PU";
    var avatarColor = NphiesBridge.Shared.Helpers.ColorHelper.GetRandomNiceColor();
}

<!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu" href="javascript:void();">
                    <i data-lucide="menu"></i>
                </a>
            </li>
            <li class="nav-item">
                <form class="search-bar">
                    <input type="text" class="form-control" placeholder="Search codes, mappings...">
                    <a href="javascript:void();"><i data-lucide="search"></i></a>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                    <i data-lucide="bell"></i>
                    <span class="badge badge-warning badge-pill">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Notifications</div>
                    <div class="dropdown-item">
                        <div class="d-flex">
                            <div class="notification-icon">
                                <i data-lucide="check-circle" class="text-success"></i>
                            </div>
                            <div class="notification-content">
                                <h6>Mapping Complete</h6>
                                <p class="small">ICD-10 codes successfully mapped</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                    <i data-lucide="help-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Help & Support</div>
                    <a class="dropdown-item" href="javascript:void();">
                        <i data-lucide="book"></i> Documentation
                    </a>
                    <a class="dropdown-item" href="javascript:void();">
                        <i data-lucide="message-circle"></i> Contact Support
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                    <span class="user-profile">
                        <img src="https://ui-avatars.com/api/?name=@Uri.EscapeDataString(userInitials)&background=@avatarColor&color=000&size=40&rounded=true"
                             class="img-circle" alt="user avatar" title="@userDisplayName">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item user-details">
                        <a href="javaScript:void();">
                            <div class="media">
                                <div class="avatar">
                                    <img class="align-self-start mr-3"
                                         src="https://ui-avatars.com/api/?name=@Uri.EscapeDataString(userInitials)&background=@avatarColor&color=000&size=45&rounded=true"
                                         alt="user avatar">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-2 user-title">@userDisplayName</h6>
                                    <p class="user-subtitle">@userEmail</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:void();">
                            <i data-lucide="user"></i> Profile Settings
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:void();">
                            <i data-lucide="settings"></i> Preferences
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link p-0 text-left" style="color: inherit; text-decoration: none;">
                                <i data-lucide="log-out"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--End topbar header-->