<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - NphiesBridge.AdminPortal</title>
    <!-- loader-->
    @* <link href="~/css/pace.min.css" rel="stylesheet" /> *@
    <!--favicon-->
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    @* <link href="~/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" /> *@
    <!-- simplebar CSS-->
    <link href="~/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/css/app-style.css" rel="stylesheet" />
    <link href="~/css/adon.css" rel="stylesheet" />
    <link href="~/css/toast-notifications.css" rel="stylesheet" />
    <link href="~/css/modern-rows.css" rel="stylesheet" />
    <style>
        /* Fix for icon fonts - exclude from Inter font override */
        [class^="zmdi-"], [class*=" zmdi-"],
        [class^="icon-"], [class*=" icon-"],
        [class^="fa-"], [class*=" fa-"] {
            font-family: 'Material-Design-Iconic-Font', 'FontAwesome', 'Linearicons-Free' !important;
        }
    </style>
</head>
<body class="bg-theme bg-theme1">
    <div id="wrapper">
        @await Html.PartialAsync("_sidebar.cshtml")
        @await Html.PartialAsync("_topbar.cshtml")
        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <div class="overlay toggle-menu"></div>
            </div>
        </div>
        @await Html.PartialAsync("_footer.cshtml")
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    @* <script src="~/js/jquery.loading-indicator.js"></script> *@
    <!-- Custom scripts -->
    <script src="~/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="~/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="~/js/index.js"></script>
    <script src="~/js/healthprovider.js"></script>
    <script src="~/js/toast-notifications.js"></script>
    @* <script src="~/js/pace.min.js"></script> *@
    @await Html.PartialAsync("_ModalPartial")
</body>
</html>
