<!-- Dashtreme-Styled Modal -->
<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content border-0 shadow">
            <div class="modal-body p-0">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between align-items-center">
                            <h5 class="mb-0 text-white" id="mainModalTitle">Loading...</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span style="font-size: 1.4rem;">&times;</span>
                            </button>
                        </div>
                        <hr />
                        <div id="mainModalBody">
                            <div class="text-center text-muted p-4">Loading content...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
