@using NphiesBridge.AdminPortal.Services.API
@inject AuthService AuthService

@{
    var currentUser = AuthService.GetCurrentUser();
    var userDisplayName = currentUser?.FullName ?? "User";
    var userEmail = currentUser?.Email ?? "user@example.com";
    var userInitials = !string.IsNullOrEmpty(currentUser?.FirstName) && !string.IsNullOrEmpty(currentUser?.LastName)
        ? $"{currentUser.FirstName[0]}{currentUser.LastName[0]}"
        : "U";
    var avatarColor = NphiesBridge.Shared.Helpers.ColorHelper.GetRandomNiceColor();
}

<!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu" href="javascript:void();">
                    <i class="zmdi zmdi-menu"></i>
                </a>
            </li>
            <li class="nav-item">
                <form class="search-bar">
                    <input type="text" class="form-control" placeholder="Enter keywords">
                    <a href="javascript:void();"><i class="zmdi zmdi-search"></i></a>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                    <i class="fa fa-envelope-open-o"></i>
                </a>
            </li>
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                    <i class="fa fa-bell-o"></i>
                </a>
            </li>
            <li class="nav-item language">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                    <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                    <span class="user-profile">
                        <img src="https://ui-avatars.com/api/?name=@Uri.EscapeDataString(userInitials)&background=@avatarColor&color=000&size=40&rounded=true"
                             class="img-circle" alt="user avatar" title="@userDisplayName">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item user-details">
                        <a href="javaScript:void();">
                            <div class="media">
                                <div class="avatar">
                                    <img class="align-self-start mr-3"
                                         src="https://ui-avatars.com/api/?name=@Uri.EscapeDataString(userInitials)&background=@avatarColor&color=000&size=45&rounded=true"
                                         alt="user avatar">
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-2 user-title">@userDisplayName</h6>
                                    <p class="user-subtitle">@userEmail</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:void();">
                            <i class="zmdi zmdi-email-open mr-2"></i> Inbox (Coming soon)
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:void();">
                            <i class="zmdi zmdi-account mr-2"></i> Account (Coming soon)
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:void();">
                            <i class="zmdi zmdi-settings mr-2"></i> Settings (Coming soon)
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link p-0 text-left" style="color: inherit; text-decoration: none;">
                                <i class="zmdi zmdi-power mr-2"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--End topbar header-->