@model NphiesBridge.Core.Entities.HealthProvider

<form asp-action="Create" method="post" class="ajax-form">
    @Html.AntiForgeryToken()
    <partial name="_HealthProviderForm" model="Model" />
    <div class="text-right mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
