@model NphiesBridge.Core.Entities.HealthProvider
@{
    Layout = null;
}
<form asp-action="Create" method="post" class="ajax-form">
    @Html.AntiForgeryToken()
    <partial name="_HealthProviderForm" model="Model" />

    <div class="form-group pt-2">
        <button type="submit" class="btn btn-light btn-round px-3 float-right">
            <i class="zmdi zmdi-save"></i> Save
        </button>
    </div>
</form>